.wrapper {
  display: inline-flex;
  flex-direction: column;
  row-gap: .3em;
  height: content-box;
  color: var(--primary-color);

  & > label {
    font-size: 12px;
    position: relative;
    left: 3px;
    white-space: nowrap;
  }
}

input.text {
  border: 2px solid var(--primary-color);
  cursor: pointer;
  box-sizing: border-box;
  padding: .2em .3em;
  border-radius: 4px;
  position: relative;
  color: var(--primary-color);
  width: 100%;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgba(0, 96, 124, 0.5);
    font-style: italic;
  }
}

.arrow_icon {
  position: relative;
  right: 1.5em;
  pointer-events: none;
  transition: transform .1s;
  width: 1em;
  height: 100%;

  fill: var(--primary-color);
}

.input_wrapper {
  position: relative;
  white-space: nowrap;
}