.icon {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  min-width: 1.5em;
  min-height: 1.5em;
  max-width: 1.5em;
  max-height: 1.5em;
  stroke-width: 10;
  fill: white;
  stroke: var(--primary-color);

  .check {
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
    fill: none;
    transition: stroke-dashoffset .1s linear;
  }
}

.label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.checkbox {
  display: none;
  pointer-events: none;

  & + .label {
    cursor: pointer;

    span {
      margin-left: .3em;
    }
  }

  &:checked + .label {
    .check {
      stroke-dashoffset: 0;
    }
  }
}

.wrapper {
  display: flex;
}